<% include base/head.ejs %>
<% include base/nav-index.ejs %>
<link rel="stylesheet" href="/stylesheets/coupons.css">

<div>
    <img class="logo" src="/images/rong/logo.png" alt=""> 
</div>

<% include base/foot.ejs %>
<% include base/copyright.ejs %>