<% include base/head.ejs %>
<% include base/nav-index.ejs %>
<% include base/search-index.ejs %>
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  </style>
<div class="container" style="width:100%; padding:0;margin:0;">
<div class="carousel slide" id="slidershow" data-ride="carousel" data-interval="2000" style="top:-10px;">
	<!--计数器-->
	<ol class="carousel-indicators">
		<li class="active" data-target="#slidershow" data-slide-to="0"></li>
		<li data-target="#slidershow" data-slide-to="1"></li>
		<li data-target="#slidershow" data-slide-to="2"></li>
		<li data-target="#slidershow" data-slide-to="3"></li>
		<li></li>
	</ol>
	<!--图片容器-->
	<div class="carousel-inner">
		<div class="item active">
			<img src="images/qiao/lunbo1.png"/>
			<!--添加对应标题和内容-->
			<div class="carousel-caption">
		
			</div>
		</div>
		<div class="item">
			<img src="images/qiao/lunbo2.png"/>
			<!--添加对应标题和内容-->
			<div class="carousel-caption">
			
			</div>
		</div>
		<div class="item">
			<img src="images/qiao/lunbo3.png"/>
			<!--添加对应标题和内容-->
			<div class="carousel-caption">
			
			</div>
		</div>
		<div class="item">
			<img src="images/qiao/lunbo4.png"/>
			<!--添加对应标题和内容-->
			<div class="carousel-caption">
			
			</div>
		</div>
	</div>
</div>
</div>

<div style="width:80%;margin:0 auto;margin-top:40px;" >
	<img src="/images/qiao/14.png" alt="" style="width:100%;">
</div>
<div style="width:80%;margin:0 auto;margin-top:25px;">
	<div class="index-red-bj">
		<ul>
			<li style="text-align:center;">
				<img src="/images/qiao/15.png" alt="" style="width:129px;height:36px;margin-top:20px;">
				<ul>
					<li>限时</li>
					<li>限量</li>
					<li>品质</li>
					<li>超值</li>
				</ul>
			</li>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
			<li>9</li>
		</ul>
	</div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script>
// $('#myCarousel').carousel({
//         //设置自动播放/2 秒
//     interval : 100,
//     //设置暂停按钮的事件
//     pause : 'hover',
//     //只播一次
//     //wrap : false,
//     })
// </script>
<% include base/copyright.ejs %>
<% include base/foot.ejs %>