<% include base/head.ejs %>
<link rel="stylesheet" href="/stylesheets/rong/login.css">
<!-- <script src="/javascripts/nav/showUser.js"></script> -->
<form>
<div class="regist_header clearfix">
    <div class="wrap">
        <img class="login" src="/images/rong/loginlogo.jpg" height="55" alt="1号店">
        <div class="regist_header_right clearfix">
            <div class="help_wrap">
                    <img src="/images/rong/bangzhuzhongxin.png" alt="" style="width: 18px;">
                <span>帮助中心</span>
                <img class="bottom" src="/images/rong/bottom.png" alt="" style="width: 12px;margin-top: 2px;">
                <div class="hd_menu_list">
                    <ul style="text-align: center;">
                        <li>包裹跟踪</li>
                        <li>常见问题</li>
                        <li>在线退换货</li>
                        <li>在线投诉</li>
                    </ul>
                </div>
            </div>
            <span class="fr">
                 您好，欢迎光临1号店！
                <a href="/login" class="blue_link" style="text-decoration:none;">请登录</a>
            </span> 
           
        </div>
    </div>
</div>

<div class="login_wrap">
    <div class="wrap clearfix">
        <div class="mod_login_wrap">
            <div class="login_pc">
                <div class="clearfix">
                    <h3>1号店用户登录</h3>
                    <a href="register" class="regist_new blue_link" style="text-decoration:none;">注册新账号</a>
                </div>
                <div class="login_form">
                    <div class="form_item_wrap">
                        <div class="form_item cur">
                            <img src="/images/rong/yonghu.png" alt="" style="width: 18px;margin-top: 3px;">
                            <input type="text" name="username" placeholder="邮箱/手机/用户名" class="ipt ipt_username gay_text" style="outline-style: none;"> 
                        </div>
                        <div class="form_item">
                                <img src="/images/rong/mima.png" alt="" style="width: 20px;margin-top: 3px;">
                            <input type="password" name="password" placeholder="密码" class="ipt ipt_password gay_text" style="outline-style: none;">
                        </div>
                        <div class="auto_login clearfix">    
                            <!-- <p class="uncheck_agreement"> 
                                <input type="checkbox">
                                自动登录
                            </p>  
                            <p class="forget_pswd">忘记密码？</p> -->
                            <button type="submit" class="login_btn">登录</button>
                        </div>
                    </div>
                    <div class="joint_landing_wrap">
                        <p>更多合作网站账号登录</p>
                        <div class="clearfix">
                            <ul class="account_list clearfix">
                                <li>
                                    <img src="/images/rong/QQ.png" alt="">
                                </li>
                                <li>
                                    <img src="/images/rong/jingdong.png" alt="">
                                </li>
                                <li>
                                    <img src="/images/rong/weixin.png" alt="">
                                </li>
                                <li>
                                    <img src="/images/rong/weibo.png" alt="">
                                </li>
                            </ul>
                            <p class="unfold">
                                更多合作网站
                            </p>
                        </div>
                    </div>
                    <div style="height: 30px;"></div>
                </div>
            </div>
            <div></div>
            <div></div>
        </div>
        <div class="mod_left_banner"> 
            <img src="/images/rong/login_pic.png" alt="">
        </div>
    </div>
</div>
<div id="simplefooter">
    <a target="_blank">沪ICP备16050468号</a>|
    <a>沪B2-20170039</a>|
    <a target="_blank">营业执照</a>
    <p>Copyright © 1号店网上超市 2007-2018，All Rights Reserved</p>
</div>
</form>

<script src="/javascripts/rong/login.js"></script>
<script src="/javascripts/ajax/login.js"></script>
<% include base/foot.ejs %>