<% include base/head.ejs %>
<link rel="stylesheet" href="/stylesheets/fu/recharge.css">
<link rel="stylesheet" href="/stylesheets/nav.css">
<div class="nav">
	<div class="navmain">
		<div class="nav-bj">
            <img src="/images/rong/shouye.png" alt="" style="margin-right:5px;margin-top: 9px;width: 12px;height: 12px;"></i>
            <p>1号店首页</p>
			<i class="fa fa-map-marker" aria-hidden="true" style="line-height:30px;margin-right:5px;color:#ff4040;"></i>
			<p>送货地址:上海</p>
        </div>       
		<div class="nav-bj">
            <p style="margin-right:10px;">hi,花花</p> 
            <p class="login" style="background:red;color:wheat;border-radius: 100px 100px 100px 100px; 
            text-align:center; line-height:20px; width:40px;height:20px;margin-top:5px;">
                    新晋
            </p>
            <img src="/images/fu/dingdan.png" style="width:20px;
            height:20px; margin-top:5px; margin-right:5px">
            <p class="hover" >我的订单</p>
            <p>客服服务</p>
            <img src="/images/fu/shouji.png" style="width:20px;
            height:18px; margin-top:5px; margin-right:5px" >
			<p>APP下载</p>
		</div>
	</div>
</div>




<div class="index">
	<div class="index-top">
		<div>
			<img src="/images/rong/logo.png" alt="" style="width:210px">
			<div style="clear:both"></div>
		</div>
		<div class="tanxingbox" style="align-items: center;">
            <input type="text" placeholder="饼干蛋糕" class="index-search">
            <div class="sousuokuang">
                <img src="/images/rong/sousuo.png" alt="" class="sousuo">
            </div>
			<p class="shopcar">购物车
                <img src="/images/rong/gouwuche.png" alt="" class="gouwuche">
            </p>
        </div>
    </div>
    <ul class="sousuo-nav">
        <li>料酒</li>
        <li>沐浴露</li>
        <li>饼干蛋糕</li>
        <li>金纺柔顺剂</li>
        <li>抽纸</li>
        <li>电水壶</li>
        <li>良品铺子</li>
        <li>充电宝</li>
        <li>口香糖</li>
        <li>欧米茄</li>
    </ul>
</div>

<div class="nav-center">
    <div class="nav-center-top">
        <ul class="nav-center-top-nav">
            <li class="nav-center-top-nav-li">所有商品分类&nbsp;&nbsp;&nbsp;
                 <div class="box">
                    <ul class="box-ul">
                        <li class="box-li">
                            <div class="box1">
                                <img src="/images/fu/niunai.png" style="width:15px;margin-right:30px;">
                                <span>全球进口</span>
                            </div>
                        </li>

                       <li class="box-li">
                            <div class="box1">
                                <img src="/images/fu/daocha.png" style="width:15px;margin-right:30px;">
                                <span>食品/酒/生鲜</span>
                            </div>
                        </li>
                        <li class="box-li">
                                <div class="box1">
                                    <img src="/images/fu/yinger.png" style="width:15px;margin-right:30px;">
                                    <span>母婴/玩具/童装</span>
                                </div>
                        </li>
                        <li class="box-li">
                                <div class="box1">
                                    <img src="/images/fu/chuwei.png" style="width:15px;margin-right:30px;">
                                    <span>纸巾/厨卫清洁/宠物</span>
                                </div>
                        </li>
                        <li class="box-li">
                                <div class="box1">
                                    <img src="/images/fu/shafa.png" style="width:15px;margin-right:30px;">
                                    <span>家居家纺/厨具/家具</span>
                                </div>
                        </li>
                        <li class="box-li">
                                <div class="box1">
                                    <img src="/images/fu/kouhong.png" style="width:15px;margin-right:30px;">
                                    <span>美妆/个人清洁</span>
                                </div>
                        </li>
                        <li class="box-li">
                                <div class="box1">
                                    <img src="/images/fu/qunzi.png" style="width:15px;margin-right:30px;">
                                    <span>裙子/男装/内衣/珠宝</span>
                                </div>
                        </li>
                        <li class="box-li">
                                <div class="box1">
                                    <img src="/images/fu/baobao.png" style="width:15px;margin-right:30px;">
                                    <span>鞋靴/箱包/运动户外</span>
                                </div>
                        </li>
                        <li class="box-li">
                                <div class="box1">
                                    <img src="/images/fu/dianshi.png" style="width:15px;margin-right:30px;">
                                    <span>家用电器/汽车用品</span>
                                </div>
                        </li>
                        <li class="box-li">
                                <div class="box1">
                                    <img src="/images/fu/tushu.png" style="width:15px;margin-right:30px;">
                                    <span>图书</span>
                                </div>
                        </li>
                    </ul>
                 </div>
            </li>           
            <li class="nav-center-top-nav-li">领金币</li>
            <li class="nav-center-top-nav-li">充值</li>
        </ul>
       
    </div>
</div>
<div class="recharge">
    <br><br>
     <div class="recharge-main">
        <div class="recharge-content">
            <div class="recharge-left">
                    <p class="phlone">话费充值</p> 
                    <div class="haoma">
                    <span style="font-size:12px">手机号码:</span>
                     <input type="text" placeholder="请输入手机号码" class="ipt"> 
                    </div>
                    <div class="left">
                        <span class="face" style="margin-right:10px; font-size:12px;">充值面值：</span>
                        <ul class="money">
                            <li>10元</li>
                            <li>20元</li>
                            <li>30元</li>
                            <li>50元</li>
                            <li>100元</li>
                            <li>200元</li>
                            <li>300元</li>
                            <li>500元</li>
                        </ul>
                        <div class="quan"></div>
                      <div style="margin-top:145px; margin-left:10px;"> 
                          <button style="width:15px;height:15px;border-radius: 50%;outline: 0;border:none "></button> 
                           <span class="species" style="color:#a69999;font-size:13px; ">100元金币抵1元</span>
                      </div>
                      <div style="text-align: center;">
                        <p class="pay"> 去支付</p>
                     </div>
                    </div>
            </div>
        </div>
        <div class="recharge-right">
                <img src="images/fu/23.jpg" >   
        </div>
    </div>
</div> 
<% include base/copyright.ejs %>
<% include base/foot.ejs %>