<% include base/head.ejs %>
<link rel="stylesheet" href="/stylesheets/rong/register.css">
<form>
<div class="regist_header clearfix">
    <div class="wrap">
        <img class="login" src="/images/rong/loginlogo.jpg" height="55" alt="1号店">
        <div class="regist_header_right clearfix">
            <div class="help_wrap">
                    <img src="/images/rong/bangzhuzhongxin.png" alt="" style="width: 18px;">
                <span>帮助中心</span>
                <img class="bottom" src="/images/rong/bottom.png" alt="" style="width: 12px;margin-top: 2px;">
                <div class="hd_menu_list">
                    <ul style="text-align: center;">
                        <li>包裹跟踪</li>
                        <li>常见问题</li>
                        <li>在线退换货</li>
                        <li>在线投诉</li>
                    </ul>
                </div>
            </div>
            <span class="fr">
                    您好，欢迎光临1号店！
                <a href="/login" class="blue_link" style="text-decoration:none;">请登录</a>
            </span> 
            
        </div>
    </div>
</div>


<div class="y_regist_wrap">
    <div class="r_icon1"></div>  
    <div class="r_icon2"></div>
    <div class="r_icon3"></div>
    <div class="r_icon4"></div>
    <div class="r_icon5"></div>
    <div class="y_regist_model">
        <h4 class="y_regist_tit">1号店注册</h4>
        <div class="y_regist_form">
            <ul class="clearfix">
                <li>
                    <div class="y_same_item">
                        <input  name="name" class="ysame_input" type="text" placeholder="用户名">
                    </div>
                </li>
                <li>
                    <div class="y_same_item">
                        <input class="ysame_input" name="username" type="text" placeholder="账号">
                    </div>
                </li>
                <!-- <li class="ishort_li clearfix ">
                    <div class="fl y_same_item">
                        <input class="ysame_input" type="text" placeholder="短信验证码">
                    </div>
                    <a class="receive_code fl same_code_btn r_disable_code ">获取验证码</a>
                </li> -->
                <li>
                    <div class="y_same_item">
                        <input name="password"  id="mima" class="ysame_input y_set_password" type="password" placeholder="设置密码">
                    </div>
                </li>
                <li>
                    <div class="y_same_item">
                        <input class="ysame_input" id="suremima" type="password" placeholder="确认密码">
                    </div>
                </li>
                <li>
                    <div class="y_agreement_word">
                        点击注册，表示您同意1号店
                        <a href="" target="_blank">《服务协议及隐私声明》</a>
                    </div>
                    <button class="y_agreement_btn" type="submit">同意协议并注册</button>
                </li>
            </ul>
        </div>
    </div>
</div>



<div id="simplefooter">
    <a target="_blank">沪ICP备16050468号</a>|
    <a>沪B2-20170039</a>|
    <a target="_blank">营业执照</a>
    <p>Copyright © 1号店网上超市 2007-2018，All Rights Reserved</p>
</div>
</form>


<script src="/javascripts/ajax/register.js"></script>
<script src="/javascripts/rong/register.js"></script>
<% include base/foot.ejs %>