<% include base/head.ejs %>
<% include base/nav-index.ejs %>
<link rel="stylesheet" href="/stylesheets/robgolb.css">
<div class="index">
	<div class="index-top">
		<div>
			<img src="/images/qiao/logo.png" alt="" style="width:140px;float:left; margin-left:50px;">
			<img src="/images/qiao/logo2.png" alt="" style="width:160px;float:left;margin-top:30px;">
			<div style="clear:both"></div>
		</div>
		<div class="tanxingbox" style="align-items: center;">
			<input type="text" class="index-search" placeholder="怡宝矿泉水">			
           <div class="search">
            <img src="/images/fu/4.png"style="width:20px; margin-left:30px;margin-top:7px;">
            </div>
            <div class="shopcar">
                <img class="pick" src="/images/fu/购物车.png">
                <p >购物车</p>
            </div>
		</div>
		
	</div>
	<div class="one">
		<ul  class="bao">
			<li>保鲜膜</li>
			<li>纯净水</li>
			<li>洗面奶</li>
			<li>咖啡粉</li>
			<li>苏打饼干</li>
			<li>咖啡</li>
			<li>女装</li>
		</ul>
	</div>
</div>
    <div class="picture"> 
		<img class="pick1" src="/images/fu/10.jpg">
		<img class="pick2" src="/images/fu/11.jpg">
		<img class="pick4" src="/images/fu/12.jpg">
		<img class="pick6" src="/images/fu/13.jpg">
		<img class="pick5" src="/images/fu/14.jpg">
		<img class="pick6" src="/images/fu/15.jpg">
		<img class="pick6" src="/images/fu/16.jpg">
		<img class="pick6" src="/images/fu/17.jpg">
		<img class="pick6" src="/images/fu/18.jpg">
		<img class="pick6" src="/images/fu/19.jpg">
		<img class="pick6" src="/images/fu/20.jpg">
		<img class="pick6" src="/images/fu/21.jpg">
		<img class="pick6" src="/images/fu/22.jpg">
	</div>


	







	


<% include base/copyright.ejs %>	
<% include base/foot.ejs %>