.index{
    width:100%;
    position: relative;
}
.index-top{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.gouwuche{
    width: 20px;
    position: absolute;
    right: 80px;
    padding-right: 10px;
}
.shopcar{
	width: 122px;
	height: 20px;
	/* text-align: center; */
    padding: 10px 0;
	line-height: 20px;
	border: 1px solid #e2e2e2;
	font-size: 16px;
    border-radius: 100px;
    margin-left: -150px;
    margin-top:10px;
    color: #666666;
    position: relative;
    text-align: right;
    padding-right: 25px;
}
.shopcar:hover{
	background: #FCFCFC;
}
.index-search{
	width: 700px;
	padding-left: 32px;
	height:38px;
	border: 1px solid #ff4040;
	border-radius: 100px;
	outline: none;
    margin-right: 220px;
    margin-top:10px;
}

.tanxingbox{
    position: relative;
}
.sousuokuang{
    position: absolute;
    width: 60px;
    height: 40px;
    background: #ff4040;
    border-radius:0 100px 100px 0;
    margin-left: 675px;
    margin-top:5px;
}
.sousuo{
    width: 25px;
    margin-left: 15px;
    margin-top: 7px;
    cursor: pointer;
}

.sousuo-nav{
    width: 700px;
    height: 18px;
    position: absolute;
    left: 430px;
    top:85px;
}
.sousuo-nav li{
    float: left;
    margin-left: 15px;
    color: #aaaaaa;
    font-size: 14px;
}
.sousuo-nav li:hover{
    cursor: pointer;
    color: #ff4040;
}
.nav-center{
    width: 100%;
    height: 40px;
    border-bottom:3px solid #ff4040;
}
.nav-center-top{
    width: 80%;
    height: 40px;
    margin-left: 138px;
    position: relative;
}
.nav-center-top-nav{
    width: 900px;
    height: 30px;
    position: absolute;
}
.nav-center-top-nav-li{
    float: left;
    margin-left: 20px;
    color: #333;
    font-size: 14px;
    width: 80px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
}
.nav-center-top-nav-li:hover{
    cursor: pointer;
    color: #ff4040;
}
.nav-center-top-nav-li:first-child{
    width: 202px;
    height: 30px;
    background: #ff3f3f;
    color: #fff;
    font-weight: 900;
}
.nav-center-top-nav-li:first-child:hover .box{
   display:block;
}
.recharge{
    width: 100%;
    background: #f5f5f5;
    height: 600px;
}
.recharge-main{
    width: 80%;
    margin: 0px auto;
    background: white;
    height: 450px;
    
}
.recharge-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.recharge-left{
    width: 50%; 
    height:30px;
    border-bottom:1px solid #dcdcdc;
    margin:50px 10px;
}
.phlone{
    width:80px;
    height:30px;
    border-bottom:2px solid red;  
}
.recharge-right{
    margin-left:800px;
    margin-top:-10px;
}
.haoma{
   margin-top:50px;
   width:100%;
   margin:30px 0;
}
.ipt{
    height:40px;
    width:300px;
    outline: none;
    border:1px solid #dcdcdc;
}
.ipt:hover{
    border:1px solid red;
}
.left{
    width:100%;
    height:300px;  
}
.money{
    text-align: center;
    line-height: 40px;
}
.money li{
    list-style: none;
    border:1px solid #dcdcdc;
    width:90px;
    height:40px;
    float:left;
    margin:10px 12px;
    color:#a0a0a0;
    font-size:14px;
    font-weight: 600;
}
.pay{
    border:1px solid #dedede;
    background:#f5f5f5;
    font-weight: 600;
    color:#a0a0a8;
    width:20%;
    height:30px;
    margin:20px 30px;
}
.box{
    width:200px;
    height:300px;
    margin-top:13px;
    background:#444444;
    color:#fff;
    font-size:12px;
    display:none;
}
.box-li{
    margin:10px 10px;
}
.box1{
    text-align: left;
}
.box1 span{
    margin-left:-10px;
}
