*{
    padding: 0px;
    margin: 0px;
}
body{
    background: #EBEBEB;
}


.nav{
    width: 100%;
    height: 44px;
    background: #FFFFFF;
}
.nav2{
    width: 1228px;
    height: 44px;
    margin: 0px auto;
    background: #FFFFFF;
}
.left{
    float: left;
}
.left a{
    width: 120px;
    height: 44px;
    float: left;
    list-style: none;
    font-size: 20px;
    text-align: center;
    line-height: 44px;
    font-weight: bolder;
    color: #333333;
    text-decoration: none;
}
.one{
    background: red;
    color: white;
}
.imgss{
    width: 100%;
    height: 400px;
}
.imgss img{
    width: 100%;
}

.bbb{
    width: 1070px;
    height: 60px;
    position: relative;
    top: -260px;
    margin-left: 150px;

    background-image: url("/images/zhao/img_title_bg.png");
    text-align: center;
    padding-top: 20px;
}
.bbb p{
    font-size: 20px;
    color: #FFFFFF;
}


.bbb-left{
    width: 525px;
    height: 451px;
    background: #FFFFFF;
    margin-top: 50px;
    float: left;
	margin-right: 10px;
}


.bbb-left-top{
    width: 485px;
    height: 46px;
    margin: 0 auto;
}
.bbb-left-top .left{
    line-height: 46px;
    float: left;
    font-size: 14px;
    color: #333333;
}
.bbb-left-top .right{
    line-height: 46px;
    float: right;
    font-size: 12px;
    color: #333333;
}


.bbb-left-img{
    width: 485px;
    height: 204px;
    margin: 0 auto;
}
.bbb-left-img img{
    width: 485px;
    height: 204px;
}


.bbb-left-botton{
    width: 485px;
    height: 170px;

    margin: 0 auto;
    margin-top: 10px;
}

.bbb-left-botton-left{
    width: 141px;
    height: 170px;
    float: left;
	
}
.bbb-left-botton-left img{
    width: 141px;
    height: 141px;
}
.bbb-left-botton-left .money{
    color: red;
    font-size: 16px;
    float: left;
}

.bbb-left-botton-left del{
    font-size: 12px;
    color: #999999;
    margin-left: 20px;
}






.bbb-left-botton-center{
    width: 141px;
    height: 170px;
    float: left;
}
.bbb-left-botton-center img{
    width: 141px;
    height: 141px;
    margin-left: 30px;

}
.bbb-left-botton-center .money{
    color: red;
    font-size: 16px;
    float: left;
    margin-left: 30px;
}

.bbb-left-botton-center del{
    font-size: 12px;
    color: #999999;
    margin-left: 20px;
}







.bbb-left-botton-right{
    width: 141px;
    height: 170px;
    float: left;
}
.bbb-left-botton-right img{
    width: 141px;
    height: 141px;
    margin-left: 63px;
}
.bbb-left-botton-right .money{
    color: red;
    font-size: 16px;
    float: left;
    margin-left: 63px;
}

.bbb-left-botton-right del{
    font-size: 12px;
    color: #999999;
    margin-left: 20px;
}

