<link rel="stylesheet" href="/stylesheets/copyright.css">
<div class="copyright">
	<div class="copyrightmain">
		<ul class="bottom-top tanxingbox">
			<li>
				<img src="/images/qiao/1.png" alt="">
				<div class="miaoshu">
					<div>
						<p class="fs16">正品保障</p>
						<p class="fs14">正品行货 放心选购</p>
					</div>
				</div>
			</li>
			<li>
				<img src="/images/qiao/2.png" alt="">
				<div class="miaoshu">
					<div>
						<p class="fs16">满99包邮</p>
						<p class="fs14">满99元 免运费</p>
					</div>
				</div>
			</li>
			<li>
				<img src="/images/qiao/3.png" alt="">
				<div class="miaoshu">
					<div>
						<p class="fs16">正品保障</p>
						<p class="fs14">正品行货 放心选购</p>
					</div>
				</div>
			</li>
			<li>
				<img src="/images/qiao/4.png" alt="">
				<div class="miaoshu">
					<div>
						<p class="fs16">正品保障</p>
						<p class="fs14">正品行货 放心选购</p>
					</div>
					
				</div>
			</li>
		</ul>
		<div class="tanxingbox copyright-middum">
			<div class="copyright-middum-left tanxingbox" style="justify-content: space-around;">
				<ul>
					<li>新手入门</li>
					<li>购物流程</li>
					<li>会员制度</li>
					<li>订单查询</li>
					<li>服务协议及隐私说明</li>
					<li>网站地图</li>
				</ul>
				<ul>
					<li>支付方式</li>
					<li>货到付款</li>
					<li>网上支付</li>
					<li>礼品卡支付</li>
					<li>其它支付</li>
				</ul>
				<ul>
					<li>配送服务</li>
					<li>配送进度查询</li>
					<li>商品验货与签收</li>
				</ul>
				<ul>
					<li>相关规则</li>
					<li>平台规则</li>
					<li>退换货政策</li>
					<li>发票制度</li>
					<li>帮助中心</li>
				</ul>
			</div >
			<div class="copyright-middum-right tanxingbox">
				<ul class="tanxingbox" style="width:100%;justify-content: space-around;">
					<li>
						<p class="title">app更优惠</p>
						<p>
							<img src="/images/qiao/5.png" alt="">
						</p>
					</li>
					<li>
						<p class="title">加微信查订单</p>
						<p>
							<img src="/images/qiao/6.png" alt="">
						</p>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	<div class="copyright-bottom">
		<ul class="tanxingbox" style="margin-top:40px;">
			<li><span class="hover">沪ICP备16050468号</span>&nbsp;&nbsp;&nbsp;|</li>
			<li><span class="hover">经营证照</span>&nbsp;&nbsp;&nbsp;|</li>
			<li><span class="hover">互联网药品信息服务资格证(沪)-经营性-2017-0006</span>&nbsp;&nbsp;&nbsp;|</li>
			<li><span class="hover">违法和不良信息举报电话：0527-88100253</span>&nbsp;&nbsp;&nbsp;|</li>
			<li><span class="hover">沪B2-20170039</span>&nbsp;&nbsp;&nbsp;|</li>
			<li><span class="hover">沪公网安备 31010502002939号</span>&nbsp;&nbsp;&nbsp;|</li>
			<li><span class="hover">友情链接</span>&nbsp;&nbsp;&nbsp;|</li>
			<li><span class="hover">出版物经营许可证</span>&nbsp;&nbsp;&nbsp;|</li>
			<li><span class="hover">增值电信业务经营许可证</span></li>
		</ul>
	</div>
	<p style="text-align:center;color:#666;font-size:12px;margin-top:10px;">Copyright© 1号店网上超市 2007-2019，All Rights Reserved</p>
	<p style="text-align:center;margin-top:20px;">
		<img src="images/qiao/7.png" alt="">
		<img src="images/qiao/8.png" alt="">
		<img src="images/qiao/9.png" alt="">
		<img src="images/qiao/10.png" alt="">
		<img src="images/qiao/11.png" alt="">
		<img src="images/qiao/12.png" alt="">
		<img src="images/qiao/13.png" alt="">
	</p>
	<p style="height:20px;"></p>
</div>