<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/public.css' />
	<link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/layer.js"></script>
  </head>
  <body>