<link rel="stylesheet" href="/stylesheets/nav.css">
<style>
    .dingdan:hover,.shouye:hover,.fuwu:hover,.APP:hover{
        color: #ff4040;
    }
</style>
<div class="nav">
	<div class="navmain">
		<div class="nav-bj">    
            <img src="/images/rong/shouye.png" alt="" style="margin-right:5px;margin-top: 9px;width: 12px;height: 12px;">
            <a href="/">
                <p class="shouye" style="cursor: pointer;text-decoration: none;">1号店首页</p>
            </a>    
		</div>
		<div class="nav-bj">
			<p class='al-login' style='display:none;'><%= name[0].name %>  <a style='color: #0066cc;cursor: pointer;' class="tuichu">退出登录</a></p>
			<p class='nologin' style='display:none;'>Hi,请<span class="login">&nbsp;<a href="/login" style="color:red;text-decoration: none;">登录</a></span></p>
			<p class="hover nologin" style='display:none;'>注册</p>
			<img src="/images/fu/dingdan.png" style="width:20px;
            height:20px; margin-top:5px; margin-right:5px">
			<p class="dingdan" style="cursor: pointer;">我的订单</p>
			<img src="/images/rong/kehu.png" style="width:20px;
            height:22px; margin-top:3px; margin-right:5px">
            <p class="fuwu" style="cursor: pointer;">客户服务</p>
            <img src="/images/fu/shouji.png" style="width:20px;
            height:18px; margin-top:5px; margin-right:5px" >
			<p class="APP" style="cursor: pointer;">APP下载</p>
		</div>
	</div>
</div>
<script>
		function clearAllCookie() {
			var date = new Date();
			date.setTime(date.getTime() - 10000);
			var keys = document.cookie.match(/[^ =;]+(?=\=)/g);
			if (keys) {
				for (var i =0;i< keys.length; i++)
					document.cookie = keys[i] + "=0; expire=" + date.toGMTString() + ";";
			}
		}  
		var tuichu = document.querySelector('.tuichu')
		tuichu.onclick=function(){
			clearAllCookie()
			location.reload();
		}
		</script>
<script src='javascripts/nav/nav-coupons.js'></script>