<link rel="stylesheet" href="/stylesheets/nav.css">
<style>
    .dingdan:hover,.shouye:hover,.fuwu:hover,.APP:hover{
        color: #ff4040;
    }
</style>
<div class="nav">
	<div class="navmain">
		<div class="nav-bj">    
            <img src="/images/rong/shouye.png" alt="" style="margin-right:5px;margin-top: 9px;width: 12px;height: 12px;">
            <a href="index">
                <p class="shouye" style="cursor: pointer;">1号店首页</p>
            </a>    
		</div>
		<div class="nav-bj">
			<p class='al-login' style='display:none;'><%= name[0].name %></p>
			<p class='nologin' style='display:none;'>Hi,请<span class="login">&nbsp;<a href="/login" style="color:red;text-decoration: none;">登录</a></span></p>
			<p class="hover nologin" style='display:none;'>注册</p>
			<p>会员俱乐部</p>
			<p>我的订单</p>
			<p>Hi</p>
			<img src="/images/fu/dingdan.png" style="width:20px;
            height:20px; margin-top:5px; margin-right:5px">
			<p class="dingdan" style="cursor: pointer;">我的订单</p>
			<img src="/images/rong/kehu.png" style="width:20px;
            height:22px; margin-top:3px; margin-right:5px">
            <p class="fuwu" style="cursor: pointer;">客户服务</p>
            <img src="/images/fu/shouji.png" style="width:20px;
            height:18px; margin-top:5px; margin-right:5px" >
			<p class="APP" style="cursor: pointer;">APP下载</p>
		</div>
	</div>
</div>

<script src='javascripts/nav/nav-coupons.js'></script>