<link rel="stylesheet" href="/stylesheets/nav.css">
<div class="nav">
	<div class="navmain">
		<div class="nav-bj">
			<i class="fa fa-map-marker" aria-hidden="true" style="line-height:30px;margin-right:5px;color:#ff4040;"></i>
			<p>送货地址:上海</p>
		</div>
		<div class="nav-bj">
			<p>Hi,请<span class="login">&nbsp;登录</span></p>
			<p class="hover">注册</p>
			<p>会员俱乐部</p>
			<p>我的订单</p>
		</div>
		
	</div>
</div>