<link rel="stylesheet" href="/stylesheets/qiao/index.css">
<div class="index">
	<div class="index-top">
		<div>
			<img src="/images/qiao/logo.png" alt="" style="width:140px;float:left;">
			<img src="/images/qiao/logo2.png" alt="" style="width:160px;float:left;margin-top:30px;">
			<div style="clear:both"></div>
		</div>
		<div class="tanxingbox" style="align-items: center;">
			<div style="width:550px;margin-right:50px;position:relative;">
				<input type="text" class="index-search" placeholder="华为盒子">
				<ul class="tanxingbox index-list" style="justify-content: flex-start;margin-top:10px;">
					<li>白砂糖</li>
					<li>橄榄油</li>
					<li>饼干蛋糕</li>
					<li>湿巾</li>
					<li>糖果</li>
					<li>大闸蟹</li>
					<li>可乐</li>
				</ul>
			</div>
			
			<p class="shopcar" style="margin:0;">购物车</p>
		</div>
		
		
		
	</div>
	<div>
		<!-- 轮播图上方的列表 -->
		<div class="index-list-two">
			<p class="index-all">全部类目</p>
			<ul class="index-list-two-ul">
				<li>抢金币</li>
				<li>金币签到</li>
				<li>充值</li>
				<li>超级单品</li>
				<li>超级品牌</li>
				<li>超级品类</li>
				<li>领券中心</li>
			</ul>
		</div>
	</div>
</div>