<link rel="stylesheet" href="/stylesheets/qiao/index.css">
<div class="index">
	<div class="index-top">
		<div>
			<img src="/images/qiao/logo.png" alt="" style="width:140px;float:left;">
			<img src="/images/qiao/logo2.png" alt="" style="width:160px;float:left;margin-top:30px;">
			<div style="clear:both"></div>
		</div>
		<div class="tanxingbox" style="align-items: center;">
			<input type="text" class="index-search">
			<p class="shopcar">购物车</p>
		</div>
		
	</div>
</div>