<link rel="stylesheet" href="/stylesheets/qiao/index.css">
<style>
	a{
		color:black !important;
	}
	a:hover{
		color:red !important;
		text-decoration: none !important;
	}
</style>
<div class="index"  style="background: #fff;">
	<div class="index-top">
		<div>
			<img src="/images/qiao/logo.png" alt="" style="width:140px;float:left;">
			<img src="/images/qiao/logo2.png" alt="" style="width:160px;float:left;margin-top:30px;">
			<div style="clear:both"></div>
		</div>
		<div class="tanxingbox" style="align-items: center;">
			<div style="width:550px;margin-right:50px;position:relative;">
				<input type="text" class="index-search" placeholder="华为盒子">
				<ul class="tanxingbox index-list" style="justify-content: flex-start;margin-top:10px;">
					<li>白砂糖</li>
					<li>橄榄油</li>
					<li>饼干蛋糕</li>
					<li>湿巾</li>
					<li>糖果</li>
					<li>大闸蟹</li>
					<li>可乐</li>
				</ul>
			</div>
			
			<p class="shopcar" style="margin:0;cursor: pointer;" >购物车</p>
		</div>
		
		
		
	</div>
	<div>
		<!-- 轮播图上方的列表 -->
		<div class="index-list-two">
			<p class="index-all">全部类目</p>
			<ul class="index-list-two-ul">
				<li><a href="/robgolb">抢金币</a></li>
				<li><a href="/golbsign">金币签到</a></li>
				<li><a href="/recharge">充值</a></li>
				<li><a href="/items">超级单品</a></li>
				<li><a href="brands">超级品牌</a></li>
				<li><a href="classes">超级品类</a></li>
				<li><a href="/coupons">领券中心</a></li>
			</ul>
		</div>
	</div>
</div>

<script>
var shopcar = document.querySelector('.shopcar')
shopcar.onclick=function(){
	var str = document.cookie
	var arr = str.split(';')
	var boo = false
	for (var i=0;i<arr.length;i++) {
		arr[i] = arr[i].trim().split('=') 
		if (arr[i][0] === '_id' && arr[i][1] !=0) {
			boo=true
			location.href='/loginShopping'
		} 
	}
	if (!boo) {
	   location.href='/notloginShopping'
	}
	console.log(arr)	
	
}
</script>
